spring:
  datasource:
    url: jdbc:mysql://192.168.31.140:3306/test?serverTimezone=UTC
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    hiddenmethod:
      filter:
        enabled: true
    view:
      prefix: /WEB-INF/
      suffix: .jsp
  messages:
    basename: i18n/messages
    encoding: UTF-8








#mybatis:
#    mapper-locations: classpath:/shitilei/*.xml
#    type-aliases-package: com.mycs.dao
server:
  port: 8081
